body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}
.card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
}
.card div{
    padding-bottom: 20px;
}
.error {
    border: red solid 1px;
}
.errorText {
    color: red;
    height: 10px;
}
.link{
    padding-top:3%;
    text-align: center;
}

